.presentation {
    display: flex;
    flex-direction: column;
}

.presentation p {
    max-width: 90%;
    margin: 10% auto 0;
    font-size: larger;
}

.profile-photo img {
    width: 75%;
    height: auto;
    transition: transform .2s;
}


.profile-photo img:hover {
    transform: scale(1.5);
}

@media (min-width:576px) {
    .profile-photo img {
        width: 50%;
        height: auto;
    }

    .presentation p {
        font-size: medium;
        max-width: 95%;
        margin: 15% auto 0;
    }
}

@media (min-width: 768px) {
    .profile-photo img {
        width: 70%;
        height: auto;
    }

    .presentation h1 {
        font-size: 300%;
    }
}

@media (min-width:992px) {
    .profile-photo img {
        width: 60%;
        height: auto;
    }

    .presentation p {
        font-size: large;
        max-width: 75%;
        margin: 15% auto 0;
    }

    .presentation h1 {
        font-size: 400%;
    }
}


@media (min-width: 1200px) {
    .presentation {
        display: flex;
        flex-direction: column;
        min-height: 90vh;
    }

    .profile-photo img {
        width: 50%;
        height: auto;
    }

    .presentation p {
        font-size: x-large;
        max-width: 100%;
    }
}