.projects {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    margin: 20% auto 0;
}

.projects h1 {
    font-weight: 800;
    font-size: 300%;
}

.card {
    min-width: 18vw;
}
.card img{
    min-width: 16vw;
    height: auto;
}

@media ((min-width: 578px)) {
    .projects {
        min-height: 100vh;
    }
}

@media ((min-width:1200px)) {
    .projects h1 {
        font-weight: 800;
        font-size: 500%;
    }
}