.mern {
    height: 100%;
}
.mern img {
    width: 80%;
    height: auto;
}

.card {
    width: 80%;
}

.card p{
    font-size: small;
}

.card>.card-body p {
    margin-top: 0;
}

@media((min-width:576px)) {
    .mern img {
        width: 55%;
        height: auto;
    }
    
    .card {
        width: 55%;
    }
}

@media((min-width:768px)) {
    .mern img {
        width: 50%;
        height: auto;
    }

    .card {
        width: 50%;
    }

    .card p{
        font-size: medium;
    }

}

@media((min-width:992px)) {
    .mern img {
        width: 60%;
        height: auto;
    }

    .card {
        width: 60%;
    }

    .card p{
        font-size:larger;
    }

}

@media((min-width:1200px)) {
    .mern img {
        width: 50%;
        height: auto;
    }

    .card {
        width: 50%;
    }

}