.mern {
    height: 100%;
}

img {
    width: 100%;
    height: auto;
}

@media((min-width:576px)) {
    img {
        width: 80%;
        height: auto;
    }

}

@media((min-width:768px)) {
    img {
        width: 70%;
        height: auto;
    }

}

@media((min-width:992px)) {
    img {
        width: 70%;
        height: auto;
    }

}

@media((min-width:1200px)) {
    img {
        width: 60%;
        height: auto;
    }

}