.mern {
    height: 100%;
}
.mern img {
    width: 55%;
    height: auto;
}

.card {
    width: 55%;
}

.card p{
    font-size: small;
}

.card>.card-body p {
    margin-top: 0;
}

@media((min-width:768px)) {

    .card p{
        font-size: medium;
    }

}

@media((min-width:992px)) {

    .card p{
        font-size:larger;
    }

}