.buttons img {
    width: 120%;
    height: auto;
}
.buttons {
    width: 120%;
    height: auto;
}
@media (min-width:576px) {}

@media (min-width:768px) {}

@media (min-width:992px) {}

@media (min-width: 1200px) {

}